<body>
<div class="row">
  <div class="col-3">
    <app-category-list></app-category-list>
  </div>
  <div class="col-9">
    <div class = "container">
      <div class = "row">
        <div class = "col-4" *ngFor="let prod of products; let i = index" >
          <app-product-view [prod]="prod" [count] = "i"></app-product-view>
        </div>
      </div>
    </div>

    <app-product-pagination [pages] = "pagesNumbers" [current] = "currentPage" [count] = pagesCount></app-product-pagination>
  </div>
</div>
</body>





